*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,Arial,sans-serif;
}

body{

    background:#f5f7fb;

}

.login-page{

    width:100vw;
    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
            135deg,
            #4f46e5,
            #2563eb,
            #0ea5e9
    );

}

.login-card{

    width:420px;

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:
            0 20px 60px rgba(0,0,0,.25);

}

.logo{

    font-size:60px;

    text-align:center;

    margin-bottom:20px;

}

h1{

    text-align:center;

    margin-bottom:10px;

    color:#1e293b;

}

p{

    text-align:center;

    color:#64748b;

    margin-bottom:30px;

}

input{

    width:100%;

    padding:15px;

    border-radius:10px;

    border:1px solid #ddd;

    margin-bottom:20px;

    font-size:16px;

    transition:.3s;

}

input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:0 0 8px rgba(37,99,235,.3);

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#1d4ed8;

    transform:translateY(-2px);

}

.error{

    color:#dc2626;

    background:#fee2e2;

    padding:12px;

    border-radius:10px;

    margin-bottom:20px;

}